# Teil 0: Hallo Welt

Fast alle Programmier-Tutorials beginnen damit, den Computer "Hallo Welt" bzw. "Hello world" sagen zu lassen. In Python ist das ganz einfach:

### 游멆잺칖bung: Hallo Welt
Tippe den folgenden Befehl in das darunterstehende Feld ein und f칲hre ihn aus.
```python
print("Hallo Welt!")
```

In [ ]:
# Klicke auf dieses Feld, um die Aufgabe zu bearbeiten

# Teil 1: Ausdr칲cke, Werte und Datentypen
**Ausdr칲cke** sind die Teile eines Programms, die einen **Wert** ergeben. Sie besitzen einen **Datentyp**, der (u.a.) bestimmt, welche **Operationen** mit dem Ausdruck durchgef칲hrt werden k칬nnen.

## 1.1 Literale

**Literale** sind die einfachste Form von Ausdr칲cken. Ihr Wert ist wortw칬rtlich ("literally") im Code enthalten.

In [ ]:
# Ein paar Beispiele

42 # Die Zahl 42
3.14 # Die Zahl 3.14
"Hallo" # Das Wort Hallo

## 1.2 Datentypen identifizieren

Jeder Wert geh칬rt zu einem **Datentyp**. Der Datentyp bestimmt, was mit dem Wert im Programm gemacht werden kann.

In [ ]:
# Der Datentyp eines Werts l칛sst sich mit dem Befehl type() herausfinden

type(42)

### 游멆잺칖bung: Datentyp bestimmen
Finde heraus, welche der folgenden Literale den gleichen Datentyp besitzen!

```python
7.77
777
"A"
True
0.0
"Wie geht es dir?"
-3
```

In [ ]:
# Klick auf dieses Feld, um die Aufgabe zu bearbeiten!

## 1.3 Drei wichtige Datentypen

### Integer
Ganze Zahlen (also Null, negative und positive Zahlen ohne Komma) geh칬ren zum Datentyp **int**, was f칲r den englischen Begriff "integer" (ganze Zahl) steht.

In [ ]:
# Beispiele f칲r int-Werte
-3
4
1451
0

Mit int-Werten kann man z.B. Rechnungen durchf칲hren, indem man Arithmetik-**Operatoren** nutzt.

In [ ]:
2 + 4 # Addition

9 - 20 # Subtraktion

2 * 8 # Multiplikation

3 ** 2 # Potenzierung

7 / 2 # Division - Achtung: ergibt immer Datentyp float!

8 % 3 # Modulo: Ergibt den "Rest" beim Teilen mit Rest

### Float
Kommazahlen, egal ob positiv oder negativ, geh칬ren zum Datentyp **float**, abgeleitet aus "floating point number" (Gleitkommazahl).

Float-Literale nutzen einen Punkt `.` statt eines Kommas, wie im Englischen 칲blich.

In [ ]:
# Beispiele f칲r float-Werte

3.66
-0.3333
32.0 # Achtung: auch hier handelt es sich um einen float
1 / 3 # Achtung: Dieser komplexe Ausdruck besteht zwar aus zwei int-Werten, aber durch die Division wird ein float erzeugt

Mit float-Werten k칬nnen dieselben Operationen wie mit int-Werten durchgef칲hrt werden. Eine Kombination aus float und int ist ebenfalls m칬glich.

In [ ]:
3.5 + 0.5
3.7 - 29.1
2.5 * 2
4 ** 0.5

#### 游빍Experiment: Grenzen von float
Was ist der Wert des folgenden Ausdrucks? Was k칬nnte der Grund daf칲r sein?

In [ ]:
1.5 + 1.499999999999999999

### 游멆잺칖bung: Rechnen mit Python
칖bersetze und berechne den folgenden Ausdruck in Python. Vergiss nicht, Klammern zu nutzen, um die Rechenreihenfolge festzulegen!

$$
\frac{569.99 + 19^2}{53\cdot7.3 - 1672\div13}
$$

In [ ]:
# Klicke auf dieses Feld, um die Aufgabe zu bearbeiten

### String
Jegliche Form von Text, egal ob einzelne Buchstaben, W칬rter oder S칛tze geh칬ren zum Datentyp **str**. Das k칲rzt den Begriff "string" (Faden, Kette) ab, der urspr칲nglich mit der Idee einer Buchstabenkette ("string of characters") zusammenh칛ngt.

In [ ]:
# Beispiele f칲r str-Werte

"Hallo Welt"
"z"
"" # Auch der "leere String", eine Buchstabenkette ohne Inhalt, z칛hlt als str

# Mit dreifachen Anf칲hrungszeichen erzeugt man str-Werte, die mehrere Zeilen umfassen
"""
Als Gregor Samsa eines Morgens aus unruhigen Tr칛umen erwachte, fand er sich in seinem Bett zu einem ungeheueren Ungeziefer verwandelt.
Er lag auf seinem panzerartig harten R칲cken und sah, wenn er den Kopf ein wenig hob, seinen gew칬lbten, braunen, von bogenf칬rmigen 
Versteifungen geteilten Bauch, auf dessen H칬he sich die Bettdecke, zum g칛nzlichen Niedergleiten bereit, kaum noch erhalten konnte. 
Seine vielen, im Vergleich zu seinem sonstigen Umfang kl칛glich d칲nnen Beine flimmerten ihm hilflos vor den Augen.
"""

'Auch ein String' # Statt doppelten k칬nnen auch einfache Anf칲hrungsstriche benutzt werden, in Python macht das keinen Unterschied.

Eine wichtige String-Operation ist **Verkettung**, die Kombination von zwei str-Werten zu einem neuen.

In [ ]:
# Verkettung von zwei Strings
"Hallo " + "Welt"

#### 游빍Experiment: Text ohne Anf칲hrungszeichen
Versuche, normalen Text ohne Anf칲hrungszeichen als Code einzugeben. Was passiert?

Versuche anschlie른nd, den String `'Wie geht's?'` einzugeben. Wie klappt das, wie nicht?

In [ ]:
# Klicke auf dieses Feld, um die Aufgabe zu bearbeiten

#### 游빍Experiment: int und str addieren
Versuche, den String `"Mein Alter: "` und die Zahl `31` mit einem `+` zu kombinieren. Was passiert?

In [ ]:
# Klicke auf dieses Feld, um die Aufgabe zu bearbeiten

## 1.4 Datentypen konvertieren und kombinieren

Um Operationen mit Werten verschiedener Datentypen auszuf칲hren, m칲ssen wir die Werte oft konvertieren.

### Syntax f칲r Typkonvertierung
Um einen Ausdruck in einen anderen Datentyp umzuwandeln, wird zuerst der Name des Datentyps geschrieben. Danach folgt - ohne Leerzeichen! - der Ausdruck in Klammern.

In [ ]:
# Beispiel: 42 -> "42"
str(42)

#### 游빍Experiment: Typkonvertierung
Versuche, Literale der Datentypen float, int und str ineinander zu konvertieren. Erh칛ltst du die erwarteten Ergebnisse?

In [ ]:
# Klicke auf dieses Feld, um die Aufgabe zu bearbeiten

### 游멆잺칖bung: Typkonvertierung
F칲ge in den folgenden Code Typkonvertierungen ein, so dass er ausf칲hrbar wird und einen sinnvollen String ergibt!

In [ ]:
"Ich bin " + 2025 - 1993 + " Jahre alt."