# Teil XX: Datenbanken und SQL

In [ ]:
import sqlite3

## Datenbankverbindung herstellen

In [ ]:
with sqlite3.connect('test.db') as conn:
    print("Datenbankverbindung hergestellt")

## `CREATE` und `DROP`: Tabellen erstellen und löschen

In [83]:
create_stmt = """
CREATE TABLE IF NOT EXISTS Users (
    UserID INTEGER PRIMARY KEY,
    Name VARCHAR(50) NOT NULL UNIQUE,
    Password VARCHAR(50) NOT NULL
)
"""

with sqlite3.connect('test.db') as conn:
    cursor = conn.cursor()
    cursor.execute(create_stmt)

print("Tabelle 'Users' erstellt")

Tabelle 'Users' erstellt

In [82]:
delete_stmt = """
DROP TABLE Users
"""

with sqlite3.connect('test.db') as conn:
    cursor = conn.cursor()
    cursor.execute(delete_stmt)

In [84]:
create_posts = """
CREATE TABLE IF NOT EXISTS Posts (
    PostID INTEGER PRIMARY KEY,
    Content TEXT,
    UserID INTEGER NOT NULL,
    FOREIGN KEY (UserID) REFERENCES Users (UserID)
)
"""

with sqlite3.connect('test.db') as conn:
    cursor = conn.cursor()
    cursor.execute(create_posts)

print("Tabelle 'Posts' erstellt")

Tabelle 'Posts' erstellt

## `INSERT INTO`: Datensätze einfügen

In [85]:
insert_stmt = """
INSERT INTO users (name, password)
VALUES ('spam', 'swordfish')
"""

with sqlite3.connect('test.db') as conn:
    cursor = conn.cursor()
    cursor.execute(insert_stmt)

Experiment: Posts einfügen, auch mal mit nicht vorhandenem foreign key

### Mehrere Datensätze einfügen

In [86]:
rows = [
    ['pothole', 'test'],
    ['oatfather', 'foobar']
]

insert_stmt = """
INSERT INTO users (name, password)
VALUES (?, ?)
"""

with sqlite3.connect('test.db') as conn:
    cursor = conn.cursor()
    cursor.executemany(insert_stmt, rows)

## `SELECT`: Daten auslesen

### Alle Datensätze mit `*` abfragen

In [94]:
select_all_stmt = """
SELECT *
FROM Users
"""

with sqlite3.connect('test.db') as conn:
    cursor = conn.cursor()
    cursor.execute(select_all_stmt)
    for row in cursor.fetchall():
        print(row)

(1, 'kartoffel', 'swordfish')
(2, 'pothole', 'secret')
(3, 'oatfather', 'foobar')

Übung: Mit Python nur bestimmtes Feld (hier: Passwort von spam) ausgeben lassen

### Bestimmte Datensätze mit `WHERE` abfragen

In [89]:
user_name = input("Was ist dein Nutzername? ")

select_user = """
SELECT password FROM users
WHERE name=?
"""

with sqlite3.connect('test.db') as conn:
    cursor = conn.cursor()
    cursor.execute(select_user, [user_name])
    user_pw = cursor.fetchone()
    
if user_pw:
    pw = input("Wie lautet dein Passwort? ")

    if pw == user_pw[0]:
        print("Login erfolgreich")
    else:
        print("Falsches Passwort")

else:
    print("User nicht gefunden")

Was ist dein Nutzername?  spam
Wie lautet dein Passwort?  swordfish

Login erfolgreich

Übung: Code ändern, um nach Login Post ergänzen (dafür auch SELECT stmt ändern)

### SQL-Injections (Negativbeispiel)

In [ ]:
user_name = input("Was ist dein Nutzername? ")

select_user = f"""
SELECT password FROM users
WHERE name='{user_name}'
"""

with sqlite3.connect('test.db') as conn:
    cursor = conn.cursor()
    cursor.execute(select_user)
    user_pw = cursor.fetchone()
    
if user_pw:
    pw = input("Wie lautet dein Passwort? ")

    if pw == user_pw[0]:
        print("Login erfolgreich")
    else:
        print("Falsches Passwort")

else:
    print("User nicht gefunden")

## `UPDATE` und `DELETE`: Datensätze verändern und löschen

In [93]:
update_stmt = """
    UPDATE Users
    SET Name=?
    WHERE UserID=?
"""

with sqlite3.connect('test.db') as conn:
    cursor = conn.cursor()
    cursor.execute(update_stmt, ['kartoffel', 1])

Übung: Funktion zur Passwortänderung

In [90]:
def update_pw(user_name, new_pw):
    update_stmt = """
        UPDATE users
        SET password=?
        WHERE name=?
    """

    with sqlite3.connect('test.db') as conn:
        cursor = conn.cursor()
        cursor.execute(update_stmt, [new_pw, user_name])


update_pw('pothole', 'secret')

In [69]:
def delete_user(user_name):
    delete_stmt = """
+        DELETE FROM users
        WHERE name=?
    """

    with sqlite3.connect('test.db') as conn:
        cursor = conn.cursor()
        cursor.execute(delete_stmt, [user_name])

delete_user('oatfather')

## `JOIN`: Tabellen verknüpfen

In [ ]:
stmt = """
    SELECT * FROM Posts
    INNER JOIN Users ON Posts.UserID=Users.UserID
    WHERE Users.name='pothole'
"""